<!doctype html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title><%= category %></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/category_page.css" />
</head>

<body>
	<div class="topnav">
		<% for (var cat in allCat) { %>
			<a class="left" href="/category/<%= allCat[cat] %>">
				<%= allCat[cat] %>
			</a>
			<% } %>
	</div>

	<div class="lownav">
		<a class="left logo-container" href="/">
			<img class="logo" width="66px" height="46px" src="/images/spectdone.png"/>
		</a>

		<% if (sessionid == null) { %>
			<a class="right" href="/signup">sign up</a>
			<a class="right" href="/login">sign in</a>
		<% } %>

		<% if (sessionid != null) { %>
			<a class="right" href="/profile">Hello, <%= sessionid %></a>
			<a class = "right" href="/logout">logout</a>
		<% } %>

		<a class="right" href="/createcategory">create category</a>
		<a class="right" href="/upload/<%= category %>">make post</a>
	</div>


	<div class="anotherone">
		<!-- ******FIRST ROW********-->
		<div class="main">
			<h1> <%= category %> </h1>

			<% for (var key in allPhotos) { %>
				<div class="wrapper" id="boxshadow">
					<div class="crop">
						<a href="/single/category/<%= category %>/photo/<%= key %>/">
									<img class="fix" src="/pictures/<%= category %>/<%= key %>" alt="<%= key %>" >
								</a>
					</div>
					<p>
						<span class="tab">title</span>


						<% if (sessionid == null) { %>
						<button class="upvote novote" id="upvote_button" data-category="<%= category %>" data-img="<%= key %>">
							 <%= allPhotos[key]["votes"] %>
						</button>
						<% } %>


						<% if (sessionid != null) { %>

							<% if (typeof upvotes[category + "/" + key] == "undefined") {%>
								<button class="upvote novote" id="upvote_button" data-category="<%= category %>" data-img="<%= key %>">
									 +<%= allPhotos[key]["votes"] %>
								</button>
							<% } %>


							<% if (typeof upvotes[category + "/" + key] != "undefined") {%>
								<button class="upvote upvoted" id="upvote_button" data-category="<%= category %>" data-img="<%= key %>">
									 +<%= allPhotos[key]["votes"] %>
								</button>
							<% } %>


						<% } %>


					</p>
				</div>
			<% } %>
		</div>

	</div>
	<div class="footer">
		<a href="#github">GitHub</a>
	</div>

	<script>
	<% if (sessionid != null) { %>

	$('.upvote').click(function() {
		var button = $(this);
		var category_name = $(this).attr('data-category');
		var img_path = $(this).attr('data-img');
		console.log(category_name + " " + img_path);

		if ($(this).hasClass('novote')) {
			$.ajax({
				url: "/upvote/",
				type: "POST",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify({
					category: category_name,
					photo: img_path,
				}),
				dataType: "json",
				success: function(res) {
					button.addClass('upvoted');
					button.removeClass('novote');
					button.html("+" + (parseInt(button.html()) + 1));
				},
				error: function(res) {
					alert("upvote request was not processed by the server");
				},
			});
		} else {
			$.ajax({
				url: "/removevote/",
				type: "POST",
				data: JSON.stringify({
					category: category_name,
					photo: img_path,
				}),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function(res) {
					button.addClass('novote');
					button.removeClass('upvoted');
					button.html("+" + (parseInt(button.html()) - 1));
				},
				error: function(res) {
					alert("upvote request was not processed by the server");
				},
			});
		}
	});

	<% } %>


	</script>


		<script>
		$(document).ready(function() {
			var imgs = $('.fix');
			if (imgs.width() > imgs.height()) {
				imgs.css('height', '100%');
				imgs.css('width', 'auto');
			} else if (imgs.height() > imgs.width()) {
				imgs.css('width', '100%');
				imgs.css('height', 'auto');
			}

		});
		</script>
</body>

</html>
