<!doctype html>


<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />


		<title>Create</title>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/styles/main.css" />
		<link rel="stylesheet" type="text/css" href="/styles/content.css" />
		<link rel="stylesheet" type="text/css" href="/styles/microsoft.css" />
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body>
		<header>
			<nav>
				<input class="trigger" type="checkbox" id="hamburger"/>

				<a class="github" href="https://github.com/DamSenViet/LAHacks-Improved"><img src="/icons/github.svg"/></a>

				<a class="logo" href="/">Create</a>


				<label class="right hamburger center-parent mobile" for="hamburger">
					<div class="center">
						<div class="top bar"></div>
						<div class="middle bar"></div>
						<div class="bottom bar"></div>
					</div>
				</label>

				<div class="menu-items">
					<div class="search">
						<input type="text" list="suggestions" placeholder="Search..."/>

						<datalist id="suggestions">
						</datalist>
					</div>

					<% if (!isAuthenticated) { %>
					<a class="main" href="/login"><span class="centered-text">Login</span></a>
					<a class="main" href="/signup"><span class="centered-text">Sign Up</span></a>

					<% } else { %>

					<div class="dropdown settings">
						<a class="main"><%=username %></a>
						<ul>
							<li><a class="user-icon" href="/profile/<%= username%>">Profile</a></li>
							<li><a class="logout-icon" href="/logout">Logout</a></li>
						</ul>
					</div>
					<% } %>

					<div class="dropdown categories">
						<a class="main desktop">Categories</a>
						<ul class="desktop">
							<% for (let i = 0; i < categories.length; ++i) { %>
								<li><a href="<%= '/category/'+categories[i].unmodifiedName %>"><%= categories[i].name %></a></li>
							<% } %>
						</ul>

						<div class="select-wrapper mobile">
							<select>
								<option disabled selected hidden>Categories</option>
								<% for (let i = 0; i < categories.length; ++i) { %>
									<option value="<%= '/category/'+categories[i].unmodifiedName %>"><%= categories[i].name %></option>
								<% } %>
							</select>
						</div>
					</div>


				</div>
			</nav>
		</header>


		<main class="create">
			<div class="background desktop">
				<img src="/media/setup.svg" />
			</div>

			<div class="form">
				<form class="createForm">
					<label for="category-name">New Category Name<span class="error-message"></span></label>
					<input id="category-name" class="category-name" type="text" name="category-name" placeholder="" autocorrect="off" required pattern="^[a-zA-Z ]+$"/>

					<div class="submit-container">
						<div class="g-recaptcha" data-sitekey="6LdIU70UAAAAAHz_G6CnPwqD0ffM5LZsWFbs4DOW"></div>
						<div class="conditional clearfix"></div>
						<button type="submit">Create</button>
						<div class="conditional clearfix"></div>
					</div>
				</form>
			</div>
		</main>

		<script>

		$('#category-name').on('invalid', function(event) {
			event.target.setCustomValidity("Category must consist of only letters.");
		});

		$('#category-name').on('input', function(event) {
			event.target.setCustomValidity('');
		});

		function currentDateTime() {
			return new Date().toISOString().slice(0, 19).replace('T', ' ');
		}

		$('.createForm').on('submit', function(event) {
			event.preventDefault();

			$("button[type='submit']").removeClass("JSfail");
			$("button[type='submit']").addClass("JSonprogress");
			$("button[type='submit']").prop('disabled', true);

			$.ajax({
				url: '/create',
				type: "POST",
				data: JSON.stringify({
					categoryName: $('#category-name').val().trim(),
					captchaResponse: $('#g-recaptcha-response').val(),
					currentDateTime: currentDateTime()
				}),
				contentType: 'application/json',
				dataType: 'json',
				success: function (res) {
					window.location = res.newCategoryPage;
				},
				error: function (xhr, status, error) {
					$('button[type="submit"]').addClass('JSfail');
					if (xhr.status === 400 && xhr.responseJSON) {
						console.log(xhr.responseJSON);
						for (var field in xhr.responseJSON) {
							$('label[for="' + field + '"] .error-message').text(xhr.responseJSON[field]);
							let inputs = $('.' + field);
							inputs.removeClass('JSinvalid');
							window.setTimeout(function(){
								inputs.addClass('JSinvalid');
							}, 100);
						}
					} else {
						window.alert('¯\\\_(ツ)_/¯\nStatus Code: ' + xhr.status + '\n'
						+ 'Error: ' + xhr.responseText);
					}
				},
				complete: function(xhr, status) {
					$('button[type="submit"]').removeClass('JSonprogress');
					$('button[type="submit"]').prop('disabled', false);
				}
			});
		});

		</script>
		<script src="/scripts/main.js"></script>
	</body>
</html>
