<!doctype html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Spect | Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
	<div class="topnav">
		<% for (var cat in allCat) { %>
			<a class="left" href="/category/<%= allCat[cat] %>"><%= allCat[cat] %></a>
		<% } %>
	</div>

	<div class="lownav">
    <a class="left logo-container" href="/">
			<img class="logo" width="66px" height="46px" src="/images/spectdone.png"/>
		</a>

		<% if (sessionid == null) { %>
			<a class = "right" href="/signup">sign up</a>
			<a class = "right" href="/login">sign in</a>
		<% } %>

		<% if (sessionid != null) { %>
			<a class = "right" href="/profile">Hello, <%= sessionid %></a>
			<a class = "right" href="/logout">logout</a>
		<% } %>
		<a class="right" href="/createcategory">create category</a>
	</div>

	<div class="anotherone">
		<div class="main">

			<% for (var key in best) { %>

				<% if (best[key] != null) { %>
					<div class="wrapper boxshadow">
							<p><span class="tab"><%= key %></span></p>
							<div class = "crop">
								<a href="/category/<%= key %>/">
									<img class="fix" src="/pictures/<%= key %>/<%= best[key] %>" alt="<%= best[key] %>" >
								</a>
							</div>
					</div>
				<% } %>
			<% } %>

		</div>
	</div>
	<div class="footer">
		<a href="#github">GitHub</a>
	</div>

	<script>
	$(document).ready(function() {
		var imgs = $('.fix');
		if (imgs.width() > imgs.height()) {
			imgs.css('height', '100%');
			imgs.css('width', 'auto');
		}
	});
	</script>
</body>

</html>
