<!doctype html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Spect | Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
	<div class="topnav">
		<% for (var cat in allCat) { %>
			<a class="left" href="/category/<%= allCat[cat] %>"><%= allCat[cat] %></a>
		<% } %>
	</div>

	<div class="lownav">
    <a class="left logo-container" href="/">
			<img class="logo" width="66px" height="46px" src="/images/spectdone.png"/>
		</a>

		<% if (sessionid == null) { %>
			<a class = "right" href="/signup">sign up</a>
			<a class = "right" href="/login">sign in</a>
		<% } %>

		<% if (sessionid != null) { %>
			<a class = "right" href="/profile">Hello, <%= sessionid %></a>
			<!--<form action="/logout" method="post">
				<button type="submit" class="logout">Logout</button>
			</form>-->

		<% } %>
		<a class="right" href="/createcateogry">create category</a>
	</div>

	<div class="anotherone">
		<div class="main">

			<% for (var key in best) { %>
				<div class="wrapper boxshadow">
						<p><span class="tab"><%= key %></span></p>
						<div class = "crop">
							<a href="/category/<%= key %>/">
								<img src="/pictures/<%= key %>/<%= best[key] %>" alt="<%= best[key] %>" >
							</a>
						</div>
				</div>
			<% } %>

		</div>
	</div>
	<div class="footer">
		<a href="#github">GitHub</a>
	</div>
</body>

</html>
