<!doctype html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title> some title </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<style type="text/css">
		body {
			margin: 0;
			font-family: poppins;
		}

		h1 {
			margin-bottom: 0;
		}

		h2 {
			margin-top: 0;
			margin-bottom: 0;
		}


		.tab {
			padding-left: 20px;
		}

		/* CSS FOR NAV BAR*/

		.left {
			float: left;
		}

		.right {
			float: right;
		}

		.lownav {
			overflow: hidden;
			background-color: #333;
			position: fixed;
			/* Set the navbar to fixed position */
			top: 0;
			/* Position the navbar at the top of the page */
			width: 100%;
			/* Full width */
			z-index: 1;
			margin-top: 18px;
		}

		/* Links inside the navbar */

		.lownav a {

			display: block;
			color: #f2f2f2;
			text-align: center;
			padding: 20px 30px;
			text-decoration: none;
		}

		/* Change background on mouse-over */

		.lownav a:hover {
			background: #ddd;
			color: black;
		}

		.topnav {
			overflow: hidden;
			background-color: #D3D3D3;
			position: fixed;
			/* Set the navbar to fixed position */
			top: 0;
			/* Position the navbar at the top of the page */
			width: 100%;
			/* Full width */
			font-size: 14px;
			z-index: 1;
		}

		/* Links inside the navbar */

		.topnav a {

			display: block;
			color: black;
			text-align: center;
			padding: 1px 20px;
			text-decoration: none;
		}

		/* Change background on mouse-over */

		.topnav a:hover {
			background: #darkgrey;
			color: white;
		}

		.anotherone {
			width: 100%;
			margin-top: 0;
			margin-right: auto;
			margin-bottom: 0;
			margin-left: auto;
		}

		/* Main content */

		.main {
			margin-top: 125px;
			margin-bottom: 50px;
			text-align: center;
			width: 100%;
		}

		/* CSS FOR PHOTO GRID */

		#boxshadow {
			position: relative;
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
		}

		.wrapper {
			text-align: left;
			z-index: -1;
			display: inline-block;
			width: 35vw;
			background-color: #D3D3D3;
			border-radius: 8px;
			margin-top: 20px;

		}

		.crop {
			position: relative;
			overflow: hidden;
			height: 35vw;
		}

		img {
			width: 35vw;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		/* ********CSS FOR FOOTER *************** */

		.footer {
			overflow: hidden;
			background-color: #333;
			/* Set the navbar to fixed position */
			left: 0;
			bottom: 0;
			/* Position the navbar at the bottom of the page */
			width: 100%;
			/* Full width */
			z-index: 1;
		}

		/* Links inside the navbar */

		.footer a {

			display: block;
			color: #f2f2f2;
			text-align: center;
			padding: 5px 20px;
			text-decoration: none;
		}

		/* Change background on mouse-over */

		.footer a:hover {

			color: white;
		}

		.logo {
			width: 66px;
			height: auto;
			position: static;
			transform: unset;
			padding: 0 0;
		}

		.lownav .logo-container {
			box-sizing: border-box;
			/* height: ; */
			padding: 10px 30px 0 30px;
		}
	</style>

</head>

<body>
	<div class="topnav">
    <% for (var cat in allCat) { %>
			<a class="left" href="/category/<%= allCat[cat] %>"><%= allCat[cat] %></a>
		<% } %>
	</div>
	<div class="lownav">
    <a class="left logo-container" href="/">
      <img class="logo" width="66px" height="46px" src="/images/spectdone.png"/>
    </a>

    <% if (sessionid == null) { %>
      <a class = "right" href="/signup">sign up</a>
      <a class = "right" href="/login">sign in</a>
    <% } %>

    <% if (sessionid != null) { %>
      <a class = "right" href="/profile">Hello, <%= sessionid %></a>
			<a class = "right" href="/logout">logout</a>
    <% } %>
    <a class="right" href="/createcateogry">create category</a>
	</div>

	<div class="anotherone">
		<!-- ******FIRST ROW********-->
		<div class="main">
			<h1><%= category%></h1>
			<h2>title name</h2>
			<div class="wrapper" id="boxshadow">
				<div class="crop">
					<img class="fix" src="/pictures/<%= category %>/<%= photo %>" alt="<%= photo %>">
				</div>
				<p><span class="tab"></span>comments </p>
			</div>
		</div>
	</div>
	<div class="footer">

		<a href="#github">GitHub</a>

	</div>


	<script>
	$(document).ready(function() {
		var imgs = $('.fix');
		if (imgs.width() > imgs.height()) {
			imgs.css('height', '100%');
			imgs.css('width', 'auto');
		}
	});
	</script>
</body>

</html>
